{% extends 'base.html'%}


{% block content %}
<br>
{% if error %}
{{error}}
<br>
<br>
{% endif %}
<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
    <h3>Create and Register Your Product</h3>
    {%csrf_token%}
    <label for="title">Title: </label>
    <br>
    <input type="text" name="title">
    <br>
    <label for="description">Description: </label>
    <br>
    <textarea name="description" id="description" cols="30" rows="10"></textarea>
    <br>
    <label for="url">URL: </label>
    <br>
    <input type="text" name="url">
    <br>
    <label for="icon">Icon: </label>
    <br>
    <input type="file" name="icon">
    <br>
    <label for="Image">Image: </label>
    <br>
    <input type="file" name="image">
    <br>
    <br>
    <input class= "btn btn-primary" type="submit" value="Add Product">
</form>
{% endblock%}